{% extends '__base__.html' %}

{% block title %}Register{% endblock %}

{% block beforehead %}

<script>
function validateEmail(email) {
    var re = /^[a-z0-9\.\-\_]+\@[a-z0-9\-\_]+(\.[a-z0-9\-\_]+){1,4}$/;
    return re.test(email.toLowerCase());
}

$(function() {
    var vm = new Vue({
        el: '#vm',
        data: {
            name: '',
            email: '',
            password1: '',
            password2: ''
        },
        methods: {
            submit: function(event) {
                event.preventDefault();
                var $form = $('#vm');
                if(! this.name.trim()) {
                    return $form.showFormError('What\'s your name');
                }
                if(! validateEmail(this.email.trim().toLowerCase())) {
                    return $form.showFormError('Please enter a valid email');
                }
                if(this.password1.length < 6) {
                    return $form.showFormError('Password must be at least 6 characters');
                }
                if (this.password1 !== this.password2) {
                    return $form.showFormError('Your passwords do not match');
                }
                var email = this.email.trim().toLowerCase();
                $form.postJSON('api/users', {
                    name: this.name.trim(),
                    email: email,
                    passwd: CryptoJS.SHA1(email + ':' + this.password1).toString()
                }, function(err, r) {
                    if(err) {
                        return $form.showFormError(err);
                    }
                    return location.assign('/');
                });
            }
        }
    });
    $('#vm').show();
});

</script>

{% endblock %}

{% block content %}

    <div class="uk-width-2-3">
        <h1>Join Blog Today.</h1>
        <form id="vm" v-on="submit: submit" class="uk-form">
            <div class="uk-alert uk-alert-danger uk-hidden"></div>
            <div class="uk-form-row"><input v-model="name" type="text" maxlength="50" placeholder="Username" class="uk-width-1-1"></div>
            <div class="uk-form-row"><input v-model="email" type="text" maxlength="50" placeholder="Email" class="uk-width-1-1"></div>
            <div class="uk-form-row"><input v-model="password1" type="password" maxlength="50" placeholder="Password" class="uk-width-1-1"></div>
            <div class="uk-form-row"><input v-model="password2" type="password" maxlength="50" placeholder="Re-enter password" class="uk-width-1-1"></div>
            <div class="uk-form-row"><button type="submit" class="uk-button uk-button-primary"><i class="uk-icon-user"></i> Sign up</button></div>
        </form>
    </div>

{% endblock %}